[user]
	name = sivm99
	email = git.v7gr4@simplelogin.fr
	signingkey = B94FA1ED0052EAD3DE26D83DFA3F363C8916D6F7
[credential]
	helper = store
[http]
	version = HTTP/1.1
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/

[push]
  autoSetupRemote = true
  default = current
[core]
	excludesFile = ~/.gitignore
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
